.AuthPage {
  .flex(center);
}
.Signup {
  .flex(space-evenly, center, column);
  background-color: @success-green;
  width: 40%;
  height: 36rem;
  margin: 2rem 0.5rem;
  h3 {
    font-size: 3.2rem;
    padding: 2rem;
    color: @off-white;
  }
  input {
    padding: 0.8rem;
    margin: 0.5rem 1rem;
    text-align: center;
    box-shadow: inset 4px 4px 3px #0009;
    border: none;
  }
  .buttons {
    .flex();
    div {
      width: 9rem;
      color: @off-black;
      font-weight: bold;
      text-align: center;
      padding: 5px;
      box-shadow: 4px 4px 4px #0007;
      margin: 2rem;
    }
    .user {
      background-color: @aero-green;
    }
    .creator {
      background-color: @teal-deer;
    }
  }
}
.Login {
  .flex(space-evenly, center, column);
  background-color: @success-green;
  width: 40%;
  height: 36rem;
  margin: 2rem 0.5rem;
  h3 {
    font-size: 3.2rem;
    padding: 2rem;
    color: @off-white;
  }
  input {
    padding: 0.8rem;
    margin: 0.5rem 1rem;
    text-align: center;
    box-shadow: inset 4px 4px 3px #0009;
    border: none;
  }
  .button {
    width: 9rem;
    background-color: @teal-deer;
    color: @off-black;
    font-weight: bold;
    text-align: center;
    padding: 1rem 2rem;
    box-shadow: 4px 4px 4px #0007;
    margin: 2rem;
  }
}
