/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: 'Source Sans Pro', Verdana;
}
.SiteHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  padding: 1rem 2rem;
  background-color: #4b7f52;
  color: #eee;
}
.SiteHeader .SiteName {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-flow: row nowrap;
}
.SiteHeader .SiteName h1 {
  font-size: 4.2rem;
  font-family: 'Bungee Inline', Impact;
}
.SiteHeader .SiteName h4 {
  font-size: 1.4rem;
  font-family: 'Bitter', Times;
  padding-bottom: 0.4rem;
}
.SiteHeader nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: row nowrap;
}
.SiteHeader nav ul li {
  padding: 1.5rem 1.5rem;
  margin: 0.5rem;
}
.SiteHeader nav ul li a {
  font-family: 'Source Sans Pro', Verdana;
  font-size: 1.8rem;
  color: inherit;
  text-decoration: none;
  letter-spacing: 0.1rem;
}
.SiteHeader nav ul li a.active {
  font-weight: bold;
}
.SiteHeader nav ul li:hover {
  background-color: #7dd181;
  color: #4b7f52;
}
.SiteHeader nav ul li:first-child {
  border-left: none;
}
.NotFound {
  text-align: center;
  padding: 5rem;
}
.NotFound h1 {
  font-size: 6rem;
  font-family: 'Bungee Inline', Impact;
  padding-bottom: 3rem;
}
.NotFound h2 {
  font-size: 2.8rem;
  font-family: 'Source Sans Pro', Verdana;
}
.Blocked {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  margin: 5rem auto;
  padding: 5rem;
  width: 50%;
  background-color: #4b7f52;
  color: #eee;
  box-shadow: 4px 4px 4px #0007;
}
.Blocked h1 {
  font-size: 2.8rem;
  font-family: 'Source Sans Pro', Verdana;
  padding-bottom: 3rem;
}
.Blocked .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  font-size: 2.4rem;
}
.Blocked .buttons a {
  background-color: #96e8bc;
  color: #111;
  text-decoration: none;
  box-shadow: 4px 4px 4px #0007;
  padding: 1rem 3rem;
}
.Blocked .buttons a:hover {
  background-color: #7dd181;
  box-shadow: 5px 5px 4px #000a;
}
.AuthPage {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row nowrap;
}
.Signup {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column nowrap;
  background-color: #4b7f52;
  width: 40%;
  height: 36rem;
  margin: 2rem 0.5rem;
  box-shadow: 4px 4px 4px #0007;
}
.Signup h3 {
  font-size: 3.2rem;
  padding: 2rem;
  color: #eee;
}
.Signup input {
  padding: 0.8rem;
  margin: 0.5rem 1rem;
  text-align: center;
  box-shadow: inset 4px 4px 3px #0009;
  border: none;
}
.Signup .buttons {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: row nowrap;
}
.Signup .buttons div {
  cursor: pointer;
  width: 9rem;
  color: #111;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  box-shadow: 4px 4px 4px #0007;
  margin: 2rem;
}
.Signup .buttons div:hover {
  background-color: #7dd181;
  box-shadow: 5px 5px 4px #000a;
}
.Signup .buttons .user {
  background-color: #c9ffe2;
}
.Signup .buttons .creator {
  background-color: #96e8bc;
}
.Login {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column nowrap;
  background-color: #4b7f52;
  width: 40%;
  height: 36rem;
  margin: 2rem 0.5rem;
  box-shadow: 4px 4px 4px #0007;
}
.Login h3 {
  font-size: 3.2rem;
  padding: 2rem;
  color: #eee;
}
.Login input {
  padding: 0.8rem;
  margin: 0.5rem 1rem;
  text-align: center;
  box-shadow: inset 4px 4px 3px #0009;
  border: none;
}
.Login .button {
  cursor: pointer;
  width: 9rem;
  background-color: #96e8bc;
  color: #111;
  font-weight: bold;
  text-align: center;
  padding: 1rem 2rem;
  box-shadow: 4px 4px 4px #0007;
  margin: 2rem;
}
.Login .button:hover {
  background-color: #7dd181;
  box-shadow: 5px 5px 4px #000a;
}
.Home h1 {
  font-size: 3.2rem;
  text-align: center;
  margin: 2rem;
}
.Home .howTo {
  display: block;
  text-decoration: none;
  color: inherit;
  width: 80%;
  margin: 1rem auto;
  padding: 2rem;
  background-color: #96e8bc;
  box-shadow: 4px 4px 4px #0004;
}
.Home .howTo h2 {
  text-align: center;
  font-weight: bold;
  font-size: 2.4rem;
  font-family: 'Bitter', Times;
  padding-bottom: 1rem;
}
.Home .howTo p {
  font-family: 'Source Code Pro', monospace;
  padding-bottom: 1rem;
}
.Home .howTo h3 {
  font-style: italic;
  text-align: center;
}
.HowToEditor {
  margin: 20px auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column nowrap;
  width: 100%;
}
.HowToEditor .help {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  width: 80%;
}
.HowToEditor .help h3 {
  text-align: center;
}
.HowToEditor .help h3:first-child {
  text-align: left;
  margin-left: 10px;
}
.HowToEditor .help h3:last-child {
  text-align: right;
  margin-right: 10px;
}
.HowToEditor .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
}
.HowToEditor textarea {
  resize: none;
  width: 80%;
  height: 60rem;
  margin-top: 4px;
}
